// 侧边栏宽度定义
$MenuNav: 250px;
$Header: 75px;
$MinMenu: 64px;

@mixin webkit($type ,$value) {
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -o-#{$type}: $value;
    -ms-#{$type}: $value;
    #{$type}: $value;
}
@mixin labelDom($algin,$width,$line-height) {
    label {
        float: left;
        line-height: $line-height + px;
        width: $width + px;
        text-align: $algin;
      }
    .wrap-content {
        margin-left: $width + px;
    }
}